<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lichess API</title>
    <style>
        * {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #595959;
            margin-left: 16px;
        }
    </style>
</head>
<body>
    <h2>Lichess API</h2>
    <h3>These are the main routes you can use:</h3>
    <li>/top-classical-players/names</li>
    <li>/top-player/30day-history</li>
    <li>/top50/rating-history-csv (browser)</li>
</body>
</html>